<div class="sidebar col-md-12">
    <img src="../../../img/logo/darkFont.png" style=" width:220px;height:70px" />
    <input class="col-md-12" type="submit" value="Watched"><br /><br />
    <br />
    <br />
    <input class="col-md-12" type="submit" value="Trending"><br>
    <br>
    <br />
    <input class="col-md-12" type="submit" value="Profile" />

    <div *ngIf="quote" class="col-md-12" style="color:white;margin-top:120%">
        <a>{{quote.quote}}</a>
        <label>[{{quote.author}}] </label>
    </div>
</div>
<div class="col-md-10 col-md-push-2">
    <div >
        <input type="text" (click)="searchMovies()" class="searchTerm col-md-offset-2" [(ngModel)]="name" placeholder="What are you looking for?">
    </div>
    <!--<button type="submit" (click)="searchMovies()" class="searchButton">
        <i class="fa fa-search"></i>
    </button>-->
    <!--<input class="col-md-2 col-md-offset-4" id="searchMovie" type="search" [(ngModel)]="name" placeholder="search" />
    <input type="submit" value="search" " />-->
    <div class="container" *ngIf="movie">
        <a href="" class="item tilt-poster" *ngFor="let f of movie.results">
            <div class="poster">
                <div>
                    <img class="" src="{{f.fullPath}}" />
                    <h4 class="voteavg">{{f.vote_average}}</h4>
                </div>
            </div>
            <p>{{f.title}}</p>
        </a>
    </div>
</div>
