<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://mdbootstrap.com/previews/docs/latest/css/bootstrap.min.css" rel="stylesheet">
<link href="https://mdbootstrap.com/previews/docs/latest/css/mdb.min.css" rel="stylesheet">
<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="3">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Watched</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item" style="color:#054B87">
                    <a class="nav-link waves-effect waves-light">14 <i class="fa fa-envelope"></i></a>
                </li>
                <li class="nav-item" style="color:#054B87">
                    <a class="nav-link waves-effect waves-light">8 <i class="fa fa-eye"></i></a>
                </li>
                <li class="nav-item"style="color:#054B87">
                    <a class="nav-link waves-effect waves-light">1 <i class="fa fa-bullhorn"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <br />
        <div class="col-md-6 col-md-offset-3">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" [(ngModel)]="name" placeholder="What are you looking for" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg"  (click)="searchMovies()" >
                            <i class="glyphicon glyphicon-search"></i>
                            </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="col-md-12" *ngFor="let d of movie.results">
    <table >
        <tr>
            <td>
                <a class="col-md-2 pull-left"><img src="{{d.poster_path}}"></a>
                <h1 class="col-md-4">
                    Title: {{d.title}}
                </h1>
                <h2 class="col-md-10 col-lg-offset-2 pull-right">
                    Overview: {{d.overview}}
                </h2>
                <a class="col-md-3 col-md-offset-2 pull-right">
                    Release Date: {{d.release_date}}
                </a>
                <a class="col-md-3 col-md-offset-8 pull-right">
                    Vote Average: {{d.vote_average}}
                </a>
                <a class="col-md-3 col-md-offset-8 pull-right">
                    Vote Count: {{d.vote_count}}
                </a>
            </td>
        </tr>
    </table>    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>