<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">
                <div class="col-md-12">
                    <span>
                        <img class="visible--block" width="60%" src="../../../img/logo/whiteFont.png" style="margin-left: 30px;" />

                    </span>
                </div>
                
            </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <div class="switchDiv" *ngIf="showLogIn && showHome">
                <input class="col-xs-12 sidebarInput" type="text" name="firstName" [(ngModel)]="userToEdit.username" placeholder="@username" required><br />
                <br />
                <br />
                <input class="col-xs-12 sidebarInput" type="password" name="lastName" [(ngModel)]="userToEdit.lastName" placeholder="@password" required><br>
                <br>
                <br />
                <input class="col-xs-12 sidebarBtn" type="submit" (click)="login()" value="Sign In" />
                <br />
                <br />
                <a style="color:white;cursor:pointer" (click)="blurContSwitch()">Sign Up? It's free</a>
            </div>
            <div class="switchDiv" *ngIf="!showLogIn ">
                <input class="col-xs-12 sidebarInput" type="text" name="firstName" [(ngModel)]="userToEdit.firstName" placeholder="@firstName" required><br />
                <br />
                <br />
                <input class="col-xs-12 sidebarInput" type="text" name="firstName" [(ngModel)]="userToEdit.lastName" placeholder="@lastName" required><br />
                <br />
                <br />
                <input class="col-xs-12 sidebarInput" type="password" name="lastName" [(ngModel)]="userToEdit.password" placeholder="@password" required><br>
                <br>
                <br />
                <input class="col-xs-12 sidebarInput" type="text" name="lastName" [(ngModel)]="userToEdit.username" placeholder="@username" required><br>
                <br>
                <br />
                <input class="col-xs-12 sidebarInput" type="text" name="lastName" [(ngModel)]="userToEdit.email" placeholder="@email" required><br>
                <br>
                <br />
                <input class="col-xs-12 sidebarBtn" type="submit" (click)="signUp()" value="Sign Up" />
                <a style="color:white;cursor:pointer" class="pull-right" (click)="blurContSwitch()">Already have an Account? Sign In</a> <br>
            </div>
            <div class="menu-options" *ngIf="!showHome && !showLogin">
                
                <ul class='nav navbar-nav'>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class='glyphicon glyphicon-home'></span> Home
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/counter']">
                            <span class='glyphicon glyphicon-education'></span> Counter
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/fetch-data']">
                            <span class='glyphicon glyphicon-th-list'></span> Fetch data
                        </a>
                    </li>
                </ul>
                <div style="clear: both"></div>
                <br/>
                <input class="col-xs-12 sidebarBtn logOutBtn" type="submit" (click)="logOut()" value="Log Out" />

                <!--<input class="col-xs-12" type="submit" value="Watched"><br />
                <br />
                <br />
                <input class="col-xs-12" type="submit" (click)="goHome()" value="Trending"><br>
                <br>
                <br />
                <input class="col-xs-12" type="submit" value="Profile" />-->

            </div>
            <!--<footer>
                <div *ngIf="quote">
                    <p>{{quote.quote}}</p>
                    <label>[{{quote.author}}] </label>
                </div>
            </footer>-->

            <!--<ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>-->
        </div>
    </div>
</div>
