

.landingContainer {
    background: url('./../../../img/fantastic_four_2015-widePS.png') fixed no-repeat;
    background-size: cover;
    height: 99.85vh;
    padding: 20px;
  
}
.dark-modal {
    background-color: #0F212D;
    padding-top:20px;
    padding-bottom:40px;
}
/*.imgPortal{*/
/*    height: 5vh;*/
/**/
/*}*/
/**/
/*.imgPortal > a {*/
/*    margin-right: 10px;*/
/*    padding: 5px;*/
/*    width: 15px;*/
/*}*/




 



  form img{
    border-radius: 100%;
    width: 100%;
    
  }
  form{
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
  }

input[type="text"], input[type="password"], input[type="email"] {
    background-color: rgba(1,17,16, 0.55);
    border-radius: 10px;
    border: 0;
    color: #00FF89;
    font-size: 16px;
    outline: 0;
    padding: 8px 8px 8px 8px;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 22px -6px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 22px -6px rgba(0,0,0,0.75);
}


input[type="submit"] {
    background: #00FF89;
    border-radius: 10px;
    border: 2px solid #33ee77;
    color: white;
    font-weight: bold;
    height: 40px;
    outline: 0 !important;
    display:inline-block;
    margin-right: -50%;
    /*transition: all 300ms ease-in-out;*/
    align-self: stretch;
}

    input[type="submit"]:hover {
        background: #0F212D;
        color: #33ee77;
        
    }

    input[type="submit"]:disabled {
        background: #0F212D;
        color: #AE171F;
        border: 2px solid #AE171F;
    }

.blurCont > form > span {
    color: rgba(255,255,255, 0.8);
    cursor: pointer;
}

.blurCont > form > span:hover {
    text-decoration: underline;
}


  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255,255,255,0.4);
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255,255,255,0.4);
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255,255,255,0.4);
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,0.4);
  }

  #landingQuote{
    position: absolute;
    top: 30%;
    left: 60%;
    color: whitesmoke
  }
  