@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px !important;
    }
}

.body-content {
    padding: 0px;
    margin: 0px !important;
}

@font-face{
    font-family: MavenPro;
    src: url('../../../fonts/MavenPro-Regular.ttf')
}

*{
    font-family: MavenPro !important;
}