<br />
    
<div *ngIf="isFullyLoaded" class="col-md-12 movieDetails">
    <div class="col-md-4">
        <br />
        <img class="thumbnail"  id="movPoster" src="{{user.profileQR}}" alt="No Poster Avalabile" />
    </div>
    <div class="col-md-8">
        

        <div class="col-md-4">
            <br/>
            <br/>
            <span class="btn redBtn col-xs-12 imdbVote">{{user.userType}}</span>
        </div>

        <div [ngClass]="(isMyProfile)?'col-md-4':'col-md-8'">
            <br/>
            <br/>
            <span class="btn btn-block col-xs-12 imdbVote"> @{{user.username}}</span>
        </div>

        <div class="col-md-4">
            <br/>
            <br/>
            <input *ngIf="isMyProfile" class="btn pull-right col-xs-12 mainBtn greenBtn" type="submit" value="Edit Profile"/>
        </div>


        <div class="col-md-12">
            <p class="userFnameLname">{{user.firstName}} {{user.lastName}}</p>
            <span> Joined: {{user.createDate | date:'dd MMM yyyy'}} </span>
            <br/>
            <span style="font-style: italic;"> <br/>Bio : </span>
            <br/>
            <i> {{user.bio}} </i>
        </div>
    </div>
</div>


<section class="col-md-12 commentSection">
    <br />
    <div class="commentDivider"></div>
    <!-- Article should appear with ngFor foreach comment -->
    <article class="commentItem" *ngFor="let c of userComments">
        <span class="badge" (click)="goToMovie(c.movieId)"  style="background-color:#25373D"> <b>at: {{c.movieTitle}}</b> </span>
        <br />
        <span>
            {{c.content}}
        </span>
        <br />
        <i> {{ c.createDate | date:'dd MMM yyyy' }} </i>
    </article>


      

</section>
