<br />
<div class="movieDetails">
    <span class="col-md-4 col-md-pull-3"><img style="width:300px;height:500px" src="{{movie.fullPath}}" /></span>
    <span class="col-md-8 col-md-pull-1">
        <label>Title : {{movie.title}}({{movie.release_date}})</label>
        <input class="" type="submit" value="Watched" />
        <br />
        <br />
        <label>Gendre :</label>  <label *ngFor="let m of movie.genres">{{ m.name }},</label> 
        <br />
        <br />
        <label>Length : {{movie.runtime}} min </label>
        <br />
        <br />
        <label>IMDB : {{movie.vote_average}}</label>
        <br/><br/><br /><br />
        <label>Overview : </label>
        <label style="font-style: italic;"   > <br />{{movie.overview}} </label>
    </span> 
</div>
        


                   


