<div class="sidebar col-md-12 ">
    <img src="../../../img/logo/darkFont.png" style=" width:220px;height:70px" />
    <input class="col-md-12" type="submit" value="Watched"><br /><br />
    <br />
    <br />
    <input (click)="goToTrending()" class="col-md-12" type="submit" value="Trending"><br>
    <br>
    <br />
    <input class="col-md-12" type="submit" value="Profile" />

    <div *ngIf="quote" class="col-md-12" style="color:white;margin-top:120%">
        <a>{{quote.quote}}</a>
        <label>[{{quote.author}}] </label>
    </div>
</div>
<!--<br />-->
<!--<div class="col-md-12">
    <div class="col-md-4"></div>
     <img style="width:300px;height:500px" src="{{movie.fullPath}}" />

        <label class="" id="title">{{movie.title}}({{movie.release_date}})</label>
    <br />
        <label class="" id="gender">Genders</label>
        <label class="" id="gender">Overview</label>-->
  
 
    <!--<input  type="submit" value="watched" (click)="watched(movie)"/>-->
<!--</div>-->
<br />
<div class="col-md-12 movieDetails">
    <span class="col-md-4"><img style="width:300px;height:500px" src="{{movie.fullPath}}" /></span>
    <span class="col-md-6 col-md-pull-1">
        <label>Title : {{movie.title}}({{movie.release_date}})</label>
        <input class="col-md-push-5" type="submit" value="Watched" />
        <br />
        <br />
        <label>Gendre :</label>  <label *ngFor="let m of movie.genres">{{ m.name }},</label> 
        <br />
        <br />
        <label>Length : {{movie.runtime}} min </label>
        <br />
        <br />
        <label>IMDB : {{movie.vote_average}}</label>
        <br/><br/><br /><br />
        <label>Overview : </label>
        <label style="font-style: italic;"   > <br />{{movie.overview}} </label>
    </span>
   
    
</div>
        


                   


